/* Don't touch this START */
.container {
  padding: 8px;
  border: 2px dotted lightblue;
}

.logo {
  min-width: 40px;
  min-height: 40px;
  border: 2px dotted turquoise;
}

.box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightcoral;
}

.inner-box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightgreen;
}

.inner-logo {
  min-width: 36px;
  min-height: 36px;
  border: 2px dotted turquoise;
}
/* Don't touch this END */

/* Write CSS Below Here */
/*
1. Practice re-using classes
2. You cannot add new classes (since the HTML must not be changed)
3. You can make new selectors / combinators in this file though:
    https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors
*/

.two-column-grid__expand-two {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 
  "logo box"
  
}

.three-column-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "box box box"
}

.three-column-grid__expand-two {
  display: grid;
  gap: 10px;
  grid-template-columns: 50px 1fr 50px;
  grid-template-areas:
  "box box box"
}

.five-column-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
  "box box box box box"
}

.center-grid {
  display: grid;
  gap: 10px;
  place-content: center;
  grid-template-columns: 200px;
  grid-template-areas:
  "box"
}

.grid-in-grid-1 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "box box"
}

.grid-in-grid-1 > .box {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "inner-box inner-box inner-box";
}

.grid-in-grid-1 > :nth-child(2) {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
  "inner-box inner-box inner-box inner-box inner-box";
}

.grid-in-grid-2 {
  
}

.grid-madness {

}
