/* Don't touch this START */
.container {
  padding: 8px;
  border: 2px dotted lightblue;
}

.logo {
  min-width: 40px;
  min-height: 40px;
  border: 2px dotted turquoise;
}

.box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightcoral;
}

.inner-box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightgreen;
}

.inner-logo {
  min-width: 36px;
  min-height: 36px;
  border: 2px dotted turquoise;
}
/* Don't touch this END */

/* Write CSS Below Here */
/*
1. Practice re-using classes
2. You cannot add new classes (since the HTML must not be changed)
3. You can make new selectors / combinators in this file though:
    https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors
*/

/* Two Column Grid */

.container  {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */

  grid-template-columns: 150px 1fr;
  grid-gap: 5px;
}


.two-column-grid__expand-two > .logo{
 
}



.two-column-grid__expand-two > .box{
 
}

/* Three Column Grid */
.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

/* Three Column Grid with Expansion  */
.three-column-grid__expand-two {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  gap: 20px;

}

/* Five Column Grid */

.five-column-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

/* Center-Grid */

/* There is a grid within a grid here */
/* Center-grid is the outer part and .box is the inner part */
/* Have to make center-grid, a display: grid */
/* And then grid-template-columns: auto */
.center-grid {
  display: grid;
  grid-template-columns: auto;
  }

.center-grid  > .box{
  display: grid;
  grid-template-columns: 200px;
  justify-self: center;

  /* background-color: pink; */
}

/* Grid in grid-1 */

.grid-in-grid-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.grid-in-grid-1 > .box {
  /* background-color: lightgoldenrodyellow; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.grid-in-grid-1 > .box + .box {
 /* background-color: lightgreen; */
 display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  
}


/* Grid in Grid-2 */

.grid-in-grid-2 {
  display: grid;
  
  /* need to adjust the width of each column */
  grid-template-columns: 70px 1fr 200px;
  
}


.grid-in-grid-2 > .box:nth-child(1) {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px;

  /* background-color: red; */
  
}

.grid-in-grid-2 .box:nth-child(3) {
/* background-color: red; */
display: grid;
grid-template-columns: repeat(3, 1fr);
}

/* Extension */

.grid-madness {}
