/* Don't touch this START */
.container {
  padding: 8px;
  border: 2px dotted lightblue;
}

.logo {
  min-width: 40px;
  min-height: 40px;
  border: 2px dotted turquoise;
}

.box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightcoral;
}

.inner-box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightgreen;
}

.inner-logo {
  min-width: 36px;
  min-height: 36px;
  border: 2px dotted turquoise;
}
/* Don't touch this END */

/* Write CSS Below Here */
/*
1. Practice re-using classes
2. You cannot add new classes (since the HTML must not be changed)
3. You can make new selectors / combinators in this file though:
    https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors
*/

.two-column-grid__expand-two,
.three-column-grid,
.three-column-grid__expand-two,
.five-column-grid,
.center-grid,
.grid-in-grid-1,
.grid-in-grid-2,
.grid-madness,
.box {
  display: grid;
  grid-gap: 10px;
}

.two-column-grid__expand-two {
  grid-template-columns: 150px 1fr;
}

.three-column-grid {
  grid-template-columns: repeat(3, 1fr);
}

.three-column-grid__expand-two {
  grid-template-columns: 50px 1fr 50px;
}

.five-column-grid {
  grid-template-columns: repeat(5, 1fr);
}

.center-grid {
  grid-template-columns: minmax(0, 200px);
  place-content: center;
}

.grid-in-grid-1 {
  grid-template-columns: repeat(2, 1fr);
}

.box {
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
}

.grid-in-grid-2 {
  grid-template-columns: 70px 1fr 200px;
}

.grid-madness {
  grid-template-areas: "header header header"
  "left middle right"
  "footer footer footer";
}

.grid-madness > .box:nth-child(1) {
  grid-area: footer;
  grid-template-areas: "rest last";
  grid-template-columns: repeat(auto-fit, 100px) 50px;
  place-content: end;
}

.grid-madness > .box:nth-child(1) > .inner-box:empty {
  grid-area: rest;
  background-color: yellow;
}

.grid-madness > .box:nth-child(1) > .inner-box:nth-child(2) {
  grid-area: last;
  place-self: end;
}

.grid-madness > .box:nth-child(2) {
  grid-area: right;
}

.grid-madness > .box:nth-child(2) > .inner-box {
  max-height: 420px;
}

.grid-madness > .box:nth-child(3) {
  grid-area: left;
  display: grid;
  place-content: start;
  grid-template-columns: 1fr;
}

.grid-madness > .box:nth-child(4) {
  grid-area: middle;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
}

.grid-madness > .box:nth-child(4) .inner-box {
  display: grid;
  place-content: start;
}

.grid-madness > .box:nth-child(5) {
  grid-area: header;
  grid-template-areas: "first rest";
  grid-template-columns: 50px repeat(6, 1fr);
  place-content: start;
}

.grid-madness > .box:nth-child(5) > .inner-box:nth-child(3) {
  grid-area: first;
} 
