/* Don't touch this START */
.container {
  padding: 8px;
  border: 2px dotted lightblue;
}

.logo {
  min-width: 40px;
  min-height: 40px;
  border: 2px dotted turquoise;
}

.box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightcoral;
}

.inner-box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightgreen;
}

.inner-logo {
  min-width: 36px;
  min-height: 36px;
  border: 2px dotted turquoise;
}
/* Don't touch this END */

/* Write CSS Below Here */
/*
1. Practice re-using classes
2. You cannot add new classes (since the HTML must not be changed)
3. You can make new selectors / combinators in this file though:
    https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors
*/

.two-column-grid__expand-two {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
}

.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.three-column-grid__expand-two {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 10px;
}

.five-column-grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
}

.center-grid {
  display: grid;
  grid-template-columns: 400px;
  place-content: center;
}

.grid-in-grid-1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.grid-in-grid-1 .box:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.grid-in-grid-1 > .box:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.grid-in-grid-2 {
  display: grid;
  grid-template-columns: 100px 1fr 300px;
  gap: 10px ;
}

.grid-in-grid-2 > .box:nth-of-type(3) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-madness {}