/* Don't touch this START */
.container {
  padding: 8px;
  border: 2px dotted lightblue;
}

.logo {
  min-width: 40px;
  min-height: 40px;
  border: 2px dotted turquoise;
}

.box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightcoral;
}

.inner-box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightgreen;
}

.inner-logo {
  min-width: 36px;
  min-height: 36px;
  border: 2px dotted turquoise;
}
/* Don't touch this END */

/* Write CSS Below Here */
/*
1. Practice re-using classes
2. You cannot add new classes (since the HTML must not be changed)
3. You can make new selectors / combinators in this file though:
    https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors
*/

.two-column-grid__expand-two {
  display: grid;
  grid-template-columns:  200px repeat(1, 1fr);
  gap: 10px;
}

.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.three-column-grid__expand-two {
  display: grid;
  grid-template-columns: 50px repeat(1, 1fr) 50px;
  gap: 10px;
}

.five-column-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.center-grid {
  display: grid;
  grid-template-columns: 200px;
  gap: 10px;
  justify-content: center;
}

.grid-in-grid-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-in-grid-1 > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
}

.grid-in-grid-2 {
  display: grid;
  grid-template-columns:  68px repeat(1, 1fr) 200px;
  gap: 10px;
}

.grid-in-grid-2 > div {
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
}

.grid-madness {}
