/* Don't touch this START */
.container {
  padding: 8px;
  border: 2px dotted lightblue;
}

.logo {
  min-width: 40px;
  min-height: 40px;
  border: 2px dotted turquoise;
}

.box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightcoral;
}

.inner-box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightgreen;
}

.inner-logo {
  min-width: 36px;
  min-height: 36px;
  border: 2px dotted turquoise;
}
/* Don't touch this END */

/* Write CSS Below Here */
/*
1. Practice re-using classes
2. You cannot add new classes (since the HTML must not be changed)
3. You can make new selectors / combinators in this file though:
    https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors
*/

.two-column-grid__expand-two {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}

.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 10px;
}

.three-column-grid__expand-two {
  display: grid;
  grid-template-columns: 1fr 5000000fr 1fr;
  gap: 10px;
}

.five-column-grid {
  display: grid;
  grid-template-columns:repeat(5 , 1fr) ;
  gap: 10px;
}

.center-grid {
  display: grid; 
}
.centered {
  display: grid; 
  justify-self: center;
  width: 30%;
}

.grid-in-grid-1 {
  display: grid;
  grid-template-columns: repeat(2 , 10fr);
  gap: 10px;
}

.grid-in-grid-1 > .box:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(3 , 1fr ) ;
  gap: 10px;
}
.grid-in-grid-1 > .box:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(5,1fr) ;
  gap: 10px;

}

.grid-in-grid-2 {
  display: grid;
  grid-template-columns: 1fr 6fr 3fr;
  gap: 10px;
}

.grid-in-grid-2 > .box:nth-child(1) {
  display: grid; 
}
.grid-in-grid-2 > .box:nth-child(2) {
  display: grid;
}
.grid-in-grid-2 > .box:nth-child(3) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-madness {
  display: grid;
 grid-template:"header header header"
               "left    main  right "
               "footer footer footer";
  gap: 10px;
}

.grid-madness > .box:nth-child(5) {
  display: grid;
  grid-template: "1st 2nd 3rd 4th 5th " ;
  grid-area: header;
  gap: 10px;
}
.grid-madness > .box:nth-child(5) > .inner-box:nth-child(3) {
grid-area: 1st;

}

.grid-madness > .box:nth-child(4) {
  display: grid;
  grid-area: main;
}
.grid-madness > .box:nth-child(4) >  .inner-box > .inner-logo  {
width: 30px;
height: 30px;
margin: 0 auto;


}

.grid-madness > .box:nth-child(3) {
  display: grid;
  grid-area: left;
}
.grid-madness > .box:nth-child(2) {
  display: grid;
  grid-area: right;
}
.grid-madness > .box:nth-child(1) {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr ;
  grid-area: footer;
  gap: 10px;
}
.grid-madness > .box:nth-child(5) > .inner-box:nth-child(1) {
  grid-area: 3rd;
  
  }