/* Don't touch this START */
.container {
  padding: 8px;
  border: 2px dotted lightblue;
}

.logo {
  min-width: 40px;
  min-height: 40px;
  border: 2px dotted turquoise;
}

.box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightcoral;
}

.inner-box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightgreen;
}

.inner-logo {
  min-width: 36px;
  min-height: 36px;
  border: 2px dotted turquoise;
}
/* Don't touch this END */

/* Write CSS Below Here */
/*
1. Practice re-using classes
2. You cannot add new classes (since the HTML must not be changed)
3. You can make new selectors / combinators in this file though:
    https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors
*/

.container {
  display: grid;
  gap: 8px;
}

.box {
  display: grid;
  gap: 8px;
  overflow: hidden;
}

.two-column-grid__expand-two {
  grid-template-columns: 1fr 4fr;
}

.three-column-grid {
  grid-template-columns: repeat(3, 1fr);
}

.three-column-grid__expand-two {
  grid-template-columns: 50px 1fr 50px;
}

.five-column-grid {
  grid-template-columns: repeat(5, 1fr);
}

.centered {
  width: 200px;
}

.center-grid {
  justify-items: center;
}

.grid-in-grid-1 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-in-grid-2 {
  grid-template-columns: 80px 6fr calc(80px * 3);
}

.grid-in-grid-1 > .box,
.grid-in-grid-2 > .box {
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.grid-madness {
  grid-template-areas:
  "header header header"
  "left-bar main right-bar"
  "footer footer footer";
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 150px 1fr 250px;
}

/* box 1 footer*/
.grid-madness > :nth-child(1) {
  grid-area: footer;
  background-color: green;
}

/* box 2 right-bar*/
.grid-madness > :nth-child(2) {
  grid-area: right-bar;
  background-color: yellow;
}

/* box 3 left-bar*/
.grid-madness > :nth-child(3) {
  grid-area: left-bar;
  background-color: blue;
}

/* box 4 main*/
.grid-madness > :nth-child(4) {
  grid-area: main;
  background-color: pink;
}

/* box 5 header*/
.grid-madness > :nth-child(5) {
  grid-area: header;
  background-color: red;
}
